.generate-post-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: var(--card-background);
    border: var(--input-border) solid 1px;

    @media screen and (max-width: 1028px) {
        flex-direction: column;
        gap: 15px;

        .generate-post-control {
            width: 100%;
        }
    }
    
    .generate-post-control {
        width: 370px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px 0px 20px 0px;

        @media screen and (max-width: 1028px) {
            width: 100%;
        }

        .generate-post-buttons {
            gap: 10px;
            display: flex;
            flex-direction: column;

            p {
                line-height: 22px;
                color: var(--text-secondary);
                font-size: 14px;
            }

            .generate-post-button-splitter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .generate-post-button {
                    width: 100%;
                }

                :where(.css-dev-only-do-not-override-1v613y0).ant-checkbox .ant-checkbox-inner {
                    width: 32px;
                    height: 32px;
                    background-color: var(--card-background);
                    border: var(--input-border) 1px solid;
                    position: relative;

                    &::after {
                        border: 2px solid #fff;
                        border-top: 0;
                        border-left: 0;
                        left: 11px;
                        width: 8px;
                        height: 12px;
                    }
                }

                :where(.css-dev-only-do-not-override-1v613y0).ant-checkbox-checked .ant-checkbox-inner {
                    background-color: var(--button-primary-bg);
                    border: unset;
                }
            }

            .generate-post-input {
                background-color: var(--input-background);
                border: var(--input-border) solid 1px;
                color: var(--text-color);
                border-radius: 5px;

                &:hover {
                    border: unset;
                }
            }

            .generate-post-button {
                background-color: var(--button-primary-bg);
                color: var(--text-color);
            }
        }
    }

    .generate-post-result {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-self: stretch;
        padding: 10px 0px 20px 0px;

        .generate-post-result__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .generate-post-result__header-buttons {
                display: flex;
                align-items: center;
                gap: 20px;

                .create-new-post {
                    background-color: var(--button-primary-bg);
                    border: unset;
                }
            }
        }

        p {
            line-height: 22px;
            color: var(--text-secondary);
            font-size: 14px;
        }

        .generate-post-input {
            height: 100%;
            width: 100%;
            background-color: var(--input-background);
            border: var(--input-border) solid 1px;
            color: var(--text-color);
            border-radius: 5px;

            @media screen and (max-width: 1028px) {
                height: 150px;
            }
        }
    }
}