.generate-post-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: var(--card-background);
    border: var(--input-border) solid 1px;
    width: 100%;
    max-width: 1420px;

    & > div {
        width: 100%;
    }

    .paraphrase {
        textarea {
            font-size: 16px!important;
        }
    }

    .generate-post-buttons {
        gap: 10px;
        display: flex;
        flex-direction: column;

        & > span {
            text-align: center;
            margin-bottom: 15px;
            line-height: 22px;
            color: var(--text-secondary);
            font-size: 20px;
        }

        p {
            line-height: 22px;
            color: var(--text-secondary);
            font-size: 14px;
        }

        .generate-post-button-splitter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .generate-post-button {
                width: 100%;
            }

            :where(.css-dev-only-do-not-override-1v613y0).ant-checkbox-checked .ant-checkbox-inner {
                background-color: var(--button-primary-bg);
                border: unset;
            }
        }

        .generate-post-button {
            background-color: var(--button-primary-bg);
            color: var(--text-color);
        }
    }

    .generate-post-input {
        background-color: var(--input-background);
        border: var(--input-border) solid 1px;
        color: var(--text-color);
        border-radius: 5px;

        &:hover {
            border: unset;
        }
    }

    @media screen and (max-width: 1028px) {
        flex-direction: column;
        gap: 15px;
        padding: 10px 15px;

        .generate-post-control {
            width: 100%;
        }
    }

    .tabs {
        display: flex;
        margin-bottom: 20px;
    }

    .tab-button {
        width: 100%;
        padding: 10px 0px;
        background: none;
        border: none;
        white-space: nowrap;
        cursor: pointer;
        font-size: 16px;
        color: #666;
        border-bottom: 2px solid transparent;

        &:hover {
            color: #b3b3b3;
        }

        &.active {
            color: #ffffff;
            border-bottom: 2px solid var(--button-primary-bg);

            &:hover {
                color: #ffffff;
            }
        }
    }
    
    .generate-post-control {
        width: 370px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px 0px 20px 0px;

        @media screen and (max-width: 1028px) {
            width: 100%;
        }
    }

    .generate-post-result {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-self: stretch;
        padding: 10px 0px 20px 0px;

        .generate-post-result__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .generate-post-result__header-buttons {
                display: flex;
                align-items: center;
                gap: 20px;

                .create-new-post {
                    background-color: var(--button-primary-bg);
                    border: unset;
                }
            }
        }

        p {
            line-height: 22px;
            color: var(--text-secondary);
            font-size: 14px;
        }

        .generate-post-input-wrapper {
            cursor: pointer;
            height: 100%;
            overflow: auto;
        }

        .generate-post-input {
            height: 100%;
            width: 100%;
            background-color: var(--input-background);
            border: var(--input-border) solid 1px;
            color: var(--text-color);
            border-radius: 5px;

            p {
                font-size: 14px;
                line-height: 22px;
            }

            @media screen and (max-width: 1028px) {
                height: 350px;
            }
        }
    }
}