.generate-post-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: var(--card-background);
    border: var(--input-border) solid 1px;
    padding: 0px 0px 20px 0px;
    width: 100%;
    max-width: 1420px;

    & > div:nth-child(1) {
        width: 100%;
    }

    .tab-content {
        padding-inline: 30px;

        @media screen and (max-width: 767px) {
            padding-inline: 15px;

        }
    }

    .paraphrase {
        textarea {
            font-size: 16px!important;
        }
    }

    .generate-post-buttons {
        gap: 10px;
        display: flex;
        flex-direction: column;

        & > span {
            text-align: center;
            margin-bottom: 15px;
            line-height: 22px;
            color: var(--text-secondary);
            font-size: 20px;
        }

        p {
            line-height: 22px;
            color: var(--text-secondary);
            font-size: 14px;
        }

        .generate-post-button-splitter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .generate-post-input-wrapper {
                width: 100%;
                position: relative;

                svg {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    z-index: 10;
                }
            }

            input {
                padding: 4px 6px;                
            }

            .generate-post-button {
                width: 100%;
            }

            :where(.css-dev-only-do-not-override-1v613y0).ant-checkbox-checked .ant-checkbox-inner {
                background-color: var(--button-primary-bg);
                border: unset;
            }
        }

        .generate-post-button {
            background-color: var(--button-primary-bg);
            color: var(--text-color);
        }
    }

    .generate-post-input {
        background-color: var(--input-background);
        border: var(--input-border) solid 1px;
        color: var(--text-color);
        border-radius: 5px;
        padding: 14px;

        p {
            font-size: 16px;
        }

        &:hover {
            border: unset;
        }
    }

    @media screen and (max-width: 1028px) {
        flex-direction: column;
        gap: 15px;
        padding: 0px 0px 15px 0px;

        .generate-post-control {
            width: 100%;
        }
    }

    .tabs {
        display: flex;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 20px;
        padding: 10px;
        justify-content: space-around;

        @media screen and (max-width: 767px) {
            overflow-x: scroll;
            gap: 20px;
            padding: 10px 30px;
            
            // Стили для скроллбара
            &::-webkit-scrollbar {
                height: 2px; // Высота всего скроллбара
            }
            
            &::-webkit-scrollbar-track {
                height: 2px;
            }
            
            &::-webkit-scrollbar-thumb {
                height: 2px;
            }
        }
    }

    .tab-button {
        width: auto;
        padding: 10px 0px;
        background: none;
        border: none;
        white-space: nowrap;
        cursor: pointer;
        font-size: 16px;
        color: #666;
        border-bottom: 2px solid transparent;

        &:hover {
            color: #b3b3b3;
        }

        &.active {
            color: var(--nav-text-active);
            border-bottom: 2px solid var(--button-primary-bg);

            &:hover {
                color: var(--button-secondary-text);
            }

            @media screen and (max-width: 767px) {
                color: var(--button-primary-bg);
                border: unset;

                // перекрываем hover именно для мобилки
                &:hover {
                color: var(--button-primary-bg);
                }
            }
        }
    }
    
    .generate-post-control {
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px 0px 20px 0px;

        @media screen and (max-width: 1028px) {
            width: 100%;
        }
    }

    .generate-post-result {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-self: stretch;
        padding: 10px 0px 20px 0px;

        .generate-post-result__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .generate-post-result__header-buttons {
                display: flex;
                align-items: center;
                gap: 20px;

                .create-new-post {
                    background-color: var(--button-primary-bg);
                    border: unset;
                }
            }
        }

        p {
            line-height: 22px;
            color: var(--text-secondary);
            font-size: 14px;
        }

        .generate-post-input-wrapper {
            cursor: pointer;
            height: 100%;
            overflow: auto;
        }

        .generate-post-input {
            height: 100%;
            width: 100%;
            background-color: var(--input-background);
            border: var(--input-border) solid 1px;
            color: var(--text-color);
            border-radius: 5px;

            p {
                font-size: 15px;
                line-height: 30px;
            }

            @media screen and (max-width: 1028px) {
                height: 350px;
            }
        }
    }
}

:where(.css-240cud).ant-btn-variant-outlined, :where(.css-240cud).ant-btn-variant-dashed {
    border-color: unset!important;
    border: 0px!important;
}

:where(.css-240cud).ant-btn-variant-outlined:disabled, :where(.css-240cud).ant-btn-variant-dashed:disabled, :where(.css-240cud).ant-btn-variant-outlined.ant-btn-disabled, :where(.css-240cud).ant-btn-variant-dashed.ant-btn-disabled {
    border-color: unset!important;
    border: 0px!important;
}