.circle-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70px;
    height: auto;
    min-width: 60px;
    cursor: pointer;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50px;

        @media screen and (max-width: 767px) {
            width: 40px;
            height: 40px;
        }
    }

    span {
        margin-top: 10px;
        font-size: 14px;
        color: var(--text-secondary);
        text-align: center;
        max-width: 65px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen and (max-width: 767px) {
            margin-top: 5px;
            max-width: 56px;
            font-size: 12px;
        }
    }
}
