node-linker=isolated
use-node-version=18 # Set your desired Node.js version
prefer-frozen-lockfile=true
prefer-offline=true
# Use esbuild for building dependencies
resolution-mode=time-based
side-effects-cache=true