.dashboard-block-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: var(--card-background);
    border: var(--input-border) solid 1px;
    position: relative;
    width: 100%;
    max-width: 1420px;

    .ant-skeleton {
        width: 100%;
    }

    @media screen and (max-width: 1028px) {
        flex-direction: column;
        padding: 10px 15px;
        gap: 20px;
    }

    .dashboard-additional-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        .dashboard-additional-button {
            width: 100%;
            background-color: var(--button-primary-bg);
            border: unset;
            outline: unset;

            &:hover {
                background-color: var(--button-primary-bg);
            }
        }
    }

    .status-item {
        padding: 15px 0px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

}