.send-post-modal {
    .ant-modal-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.send-post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--card-background);
    border: var(--input-border) solid 1px;
    width: 100%;
    max-width: 1420px;

    .send-post-wrapper__subwrapper {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 50px;
        justify-content: flex-end;
    }

    .error-message {
        color: var(--notification-error-text);
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        
    }

    .send-post__error-message {
        width: 100%;
        display: flex;
        line-height: 30px;
        justify-content: center;
        align-items: center;
        color: var(--notification-error-text);
    }

    .send-post-button {
        background-color: var(--button-primary-bg);
        height: auto;
        padding: 5px;
        min-height: 38px;
    }
}
