.ai-answer__wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--card-background);
    border: var(--input-border) solid 1px;
    width: 100%;
    max-width: 1420px;
    flex-direction: column;

    .ai-response-edit__wrapper {
        width: 100%;
        height: 100%;
        position: relative;

        svg {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10;
        }
    }

    .generate-post-input {
        background-color: var(--input-background);
        border: var(--input-border) solid 1px;
        color: var(--text-color);
    }

    @media screen and (max-width: 768px) {
        padding: 30px 15px 30px 15px;
        gap: 30px;
    }

    .generate-post-input-wrapper {
        min-height: 142px;
        width: 100%;
        border: var(--input-border) solid 1px;
        padding: 12px 20px;
        border-radius: 5px;

        p, ul, ol, li {
            font-size: 16px;
            line-height: 24px;
            list-style: unset;
        }

        ul, ol {
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;

            strong {
                color: var(--button-primary-bg);
                opacity: .7;
            }
        }
    }

    .generate-post-result__header-buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        .create-new-post {
            background-color: var(--button-primary-bg);
            border: unset;
            padding: 8px 16px;
            font-size: 14px;
            color: var(--text-color);
            cursor: pointer;

            &:hover {
                background-color: var(--button-primary-bg-hover);
            }
        }
    }
    
    .generate-post-result__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            gap: 10px;
        }

        .header-title {
            display: flex;
            flex-direction: column;
            gap: 4px;

            @media screen and (max-width: 767px) {
                align-items: center;
            }

            p {
                height: fit-content;
            }

            span {
                opacity: .7;
                font-size: 14px;
            }
        }

        .generate-post-result__header-buttons {
            button {
                background-color: var(--button-primary-bg);

                &:hover {
                    background-color: var(--button-primary-bg);
                    opacity: .8;
                }
            }
        }
    }
}

.ai-model-item__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ant-select-item-option-selected {

    .ai-model-item {
        background-color: var(--button-primary-bg)!important;
    };
}

.ant-select-dropdown, .ant-select-item-option-selected {
    background-color: var(--input-background)!important;

    .ai-model-item {
        background-color: var(--card-background)
    };
}

.ant-select-selector {
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    border-radius: 6px!important;
    padding: 10px!important;
    gap: 4px!important;
    background-color: var(--input-background)!important;
    cursor: pointer!important;
}

.ai-model-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 10px;
    gap: 4px;
    background-color: var(--input-background);
    cursor: pointer;

    .ai-model-item__text {
        font-size: 14px;
    }

    .ai-model-item__modelId {
        font-size: 12px;
        opacity: .7;
    }
}

.ant-dropdown-menu {
    height: 300px;
    gap: 0px;

    .ant-dropdown-menu-item {
        padding: 5px 0px;
    }
}

.ai-prompt-textarea-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    .ant-select {
        background-color: unset!important;
    }

    .ant-select-arrow {
        color: white!important;
    }

    :where(.css-dev-only-do-not-override-240cud).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
        border: 1px solid var(--border-color);
    }

    .ai-prompt-textarea__info {
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        color: var(--text-color);
        opacity: 0.7;
        margin-bottom: 10px;
    }

    h6 {
        margin-top: 14px;
        font-size: 14px;
    }

    .generate-post-input {
        background-color: var(--input-background);
        border: var(--input-border) solid 1px;
        color: var(--text-color);
        padding: 10px;
        margin-bottom: 30px;
    }

    button {
        background-color: var(--button-primary-bg) !important;
        opacity: 1;
        padding-inline: 15px;
    }
}