.sessions-wrapper {
  width: 100%;
  overflow-x: auto;

  .sessions-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    td {
        .user-avatar {
            img {    
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50px;
            }
        }
    }

    tr:last-child {
        td { 
            border-bottom: none; 
        }
    }

    th, td {
      padding: 20px;
      border-bottom: 1px solid var(--input-border);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    th {
      background-color: var(--card-background);
      font-weight: bold;
      text-align: left;
    }

    td:last-child,
    th:last-child {
      width: 120px; // фиксированная ширина для "Действия"
      text-align: center;
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      font-size: 12px;
      color: var(--color-red);
    }

    th, td {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    th:nth-child(1), td:nth-child(1) { width: 50px; } // avatar
    th:nth-child(2), td:nth-child(2) { width: 50px; } // IP
    th:nth-child(3), td:nth-child(3) { width: 100px; } 
    th:nth-child(4), td:nth-child(4),
    th:nth-child(5), td:nth-child(5) { width: 80px; } // даты
    th:nth-child(6), td:nth-child(6) { width: 100px; } // UserAgent
  }
}
