.popular-post-item {
    background-color: var(--background-color);
    border: unset;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;

    .popular-post-item__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div {
            width: 60%;
            position: relative;
    
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 100%;
                background: linear-gradient(90deg, var(--background-color), color-mix(in srgb, var(--background-color), transparent 80%));                ;
                pointer-events: none;
            }
    
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
                height: 100%;
                background: linear-gradient(270deg, var(--background-color), color-mix(in srgb, var(--background-color), transparent 80%));                ;
                pointer-events: none;
            }

            & > div {
                position: relative;
                display: flex;
                justify-content: flex-end;
                gap: 15px; // Отступы между реакциями
                overflow-x: auto; // Горизонтальный скролл
                white-space: nowrap;
                user-select: none;
                width: 100%;

                & > div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
    
                &::-webkit-scrollbar {
                    display: none;
                }
                
                span {
                    opacity: 1;
                }
            }
        }
    }

    .post {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .views {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    span {
        font-size: 14px;
        opacity: .5;
    }

    .input-wrapper {
        position: relative;
        width: 90%;
        display: flex;
        align-items: center;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            height: 100%;
            background: linear-gradient(270deg, var(--background-color), transparent);
            pointer-events: none;
        }

        input {
            display: block;
            line-height: 24px;
            font-size: 18px;
            background-color: unset;
            border: unset;
            padding: unset;
            color: var(--input-text);
        }
    }
}